* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
body {
    min-width: 310px;
    width: 100%;
}
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
div.logo {
    background-color: #224f70;;
    
}
header img {
    width: 80%;
    min-width: 250px;
    max-width: 360px;
    margin: 1.5rem auto;
    border-radius: 3rem;
    padding: 2.5rem;
    
}
nav {
    margin: 0;
}

nav ul{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
      
}

nav ul a {
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: #043b7b;
    
}
nav li 
{
    width: 20rem;
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;    
    
    
}
section.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    background-image: url(../img/fondo2.jpg);
    background-position: center;
    background-size: cover;
    
    
}
section h1 {
    margin: 0 1rem;
    color: #043b7b;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 2; }
}

section.presentacion div.boton {
    width: 20%;
    min-width: 250px;
    margin: 2rem auto;
    border-radius: 1rem;
    background-color: white;
    animation: fadein 2s;
                     
}

section.presentacion div.boton a  {
    display: flex;    
    text-decoration: none;    
    justify-content: center;
    
}

section.presentacion div.boton input.p {
    border: none;
    font-size: 1.6rem;
    color: #043b7b;
    font-weight: bold;
    background-color: white;    
    height: 5rem;
}
section.presentacion div.boton img {
    width: 3rem;
    margin-left: 1rem;
    
}

section.nosotros {
    width: 90%;
    margin: 0 auto;
}
section.nosotros article {
    margin: 2rem;
    font-size: 1.8rem;
    -webkit-box-shadow: 0px 16px 16px -11px #000000; 
    box-shadow: 0px 16px 16px -13px #000000;
    padding: 2rem;
    color: #043b7b;
}
footer {
    background-color: #224f70;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 20rem;
    padding: 2rem;
    font-size: 2.5rem;
    min-width: 350px;
    
    
}
footer section.left 
{
    display: flex;
    flex-direction: column;
    margin-right: 1rem ;
    
}
footer section.left a  {
    color: #75a7e0;
    text-decoration: none;
}
footer p {
    font-weight: bold;
    font-size: 2rem;
    color: #75a7e0;
}
section.right {
    display: flex;
    flex-direction: column;
    width: 100%;
}
section.right a {
    color: #75a7e0;
    text-decoration: none;
    
}
@media (min-width:610px) /*-------------------- tablet----------*/
 {
    header {
        display: flex;
        flex-direction: row;
    }
    header img {
        width: 100%;
     }
    section.presentacion {
        width: 100%;
        height: 300px;
        margin-top: 1rem;
    }
    nav ul{
        
        display: flex;
        flex-direction: column;
               
    }
    nav{        
        width: 50%;
    }
    nav ul a {
        width: 100%;
        padding: 0;
        line-height: 1.6;
        
                
    }
    section.left {
        margin-left: 1rem;
        
    }
    section.right a, .right p, .left a, .left p {
        font-size: 2.3rem;
    }
}
@media (min-width:800px)/*-------------------- desktop----------*/ {
  
    header {
        height: 120px
    }
    div.logo {
        background: none;
    }
    header img {
        padding: 0;
        border-radius: 0;
        margin: 1rem 1rem;
    }
    
    nav {
        display: flex;
        align-items: center;
        width: 80%;
        
    }
    nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    nav li {
        width: 100%;
        background-color: white;
    }
    nav ul li a {
        color: #043b7b;
        margin-right: 1rem;
        
    }
    nav ul li a:hover {
        transition-duration: .3s;
        width: 130px;
        -webkit-box-shadow: 0px 16px 16px -11px #000000; 
        box-shadow: 0px 8px 8px -9px #000000;
        
    }
  
    section.presentacion div.boton:hover {
        -webkit-box-shadow: 0px 16px 16px -11px #000000; 
        box-shadow: 0px 16px 16px -11px #000000;
        transition-duration: .3s;
        opacity: .9;
    }
    section.presentacion div.boton input.p {
        height: 4rem;
        
    }
    section.presentacion {
        display: flex;
        margin: 0;
        
    }
    footer {
        padding: 1rem 3rem;
        font-weight: bold;
        padding-left: 10rem;
        line-height: 2;
    }
    
    

    }
    

