* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
body {
    min-width: 360px;
    width: 100vw;
    
}
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
}
div.logo {
    background-color: #224f70;
    height: 120px;
    display: flex;
    
}
div.logo img {
    width: 100%;
    min-width: 250px;
    max-width: 380px;
    height: 80px;
    margin: 1.5rem auto;
    border-radius: 1rem;
   
}
nav {
    margin: 0;
}

nav ul{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}
nav li 
{
    width: 20rem;
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;    
}
nav ul a {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #043b7b;
}
nav .social {
    width: 40%;
    height: 4rem;
}
nav .social img {
    width: 4rem;
    height: 4rem;
    
}
nav ul li.social {
    display: flex;
    justify-content: space-around;
}
section.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;  
    height: 240px; 
    margin-bottom: 1rem; 
    background-image: url("../img/fondo-fabicav.jpeg");
    background-position: center;
    background-size: cover;
    
}
section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 2; }
}

section.presentacion div.boton {
    display: flex;
    align-content: center;
    justify-content: center;
                
}

section.presentacion div.boton a  {
    display: flex;    
    width: 260px;
    min-width: 250px;
    text-decoration: none;    
    justify-content: center;
    border-radius: 3rem;
    background-color: white;
    animation: fadein 2s;
    margin-bottom: 1.6rem;
}

section.presentacion div.boton input.p {
    border: none;
    font-size: 1.6rem;
    color: #043b7b;
    font-weight: bold;
    background-color: white;    
    height: 5rem;
}
section.presentacion div.boton img {
    width: 3rem;
    margin-left: 1rem;
}

section.nosotros {
     width: 100%;
     height: 100%;
 
}
section.nosotros article {
    margin: 2rem;
    text-align: justify;
    font-size: 1.8rem;
    -webkit-box-shadow: 0px 16px 16px -11px #000000; 
    box-shadow: 0px 16px 16px -13px #000000;
    padding: 2rem;
    color: #043b7b;
}
.contenedor-nosotros img {
    height: 500px;
    width: 100%;
}
footer {
    background-color: #224f70;
    display: grid;
    grid-template-columns: 44% 56%;
    height: 22rem;
    font-size: 1.6rem;
    min-width: 280px;
    width: 100%;
    justify-content: center;
    padding-top: 2rem;
}
footer section.left 
{
    display: flex;
    flex-direction: column;
    margin-left: 1.6rem;
}
footer section.left a  {
    color: #75a7e0;
    text-decoration: none;
}
footer p {
    font-weight: bold;
    font-size: 2rem;
    color: #75a7e0;
}
section.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1.6rem;
}
section.right a {
    color: #75a7e0;
    text-decoration: none;
}
/*--------------------------------------------------*/
/*------------productos-----------------------------*/
/*--------------------------------------------------*/
.main-productos{
    width: 100%;
    display: flex;
}
.contenedor-productos {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    
    
}
.producto{
    display: flex;
    justify-content: center;
    padding: 0.2rem;
}
.producto:hover {
    opacity: .9;
    transition-delay: 0.1s;    
    
}
.producto img{
    width: 100%;
 
}

@media (min-width:610px) /*-------------------- tablet----------------------*/
{
    header {
        display: grid;
        grid-template-columns: 48% 52%;
        margin-top: 3rem;
}   
    section.presentacion {
        width: 100%;
        height: 300px;
        margin-top: 1rem;
    }
    div.logo {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background: none;
      
    }
    div.logo img {
        width: 90%;
        height: 150px;
        margin: .5rem 0;
        
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }

    nav .social {
        width: 1%;
        height: 4rem;
    }
    nav .social img {
        width: 4rem;
        height: 4rem;
        
    }
    nav ul li.social {
        display: flex;
        justify-content: center;
        width: 100%;
        justify-content: space-evenly;
    }
    
    section h1{
        font-size: 4rem;
        margin-top: 0;
    }

    article h2, p{
        font-size: 2rem;
    }
    footer section.left {
        margin-left: 2.5rem;
     }
    section.right a, .right p, .left a, .left p {
        font-size: 2.3rem;
    }
    /*--------------------------------------------------*/
/*------------productos-----------------------------*/
/*--------------------------------------------------*/
.contenedor-productos {
    grid-template-columns: 33.3% 33.3% 33.3%;
}

}
@media (min-width:900px)/*-------------------- desktop----------*/ {
  
    div.vacio {
        width: 100%;
        height: 120px;
    }
    header {
        height: 120px;
        z-index: 10;
        position: fixed;
        background-color: white;
        width: 100%;
        opacity: .9;
        margin-top: -120px;
        
    }
    div.logo {
        background: none;
        margin-left: 2rem;
        width: 40%;
    }
    div.logo img {
        width: 250px;
        height: 100px;
        padding: 0;
        border-radius: 0;
        margin: 1rem 1rem;
    }
    
    nav {
        display: flex;
        justify-content: center;
        width: 80%;
        
    }
    nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    nav li {
        width: 90%;
        background-color: white;
        margin-right: 2rem;
    }
    nav ul li a {
        color: #043b7b;
        display: block;
        font-size: 2rem;
        margin-right: 1rem;
        font-weight: normal;
        
    }
    nav .social {
        width: 100%;
        height: 4rem;
        
    }
    
        
    nav ul li a.social:hover {
        width: 100%;
        box-shadow: none;
        opacity: .9;

    }
  
    nav ul li a:hover {
        transition-duration: .3s;
        -webkit-box-shadow: 0px 16px 16px -11px #000000; 
        box-shadow: 0px 8px 8px -9px #000000;
        
    }
  
    section.presentacion div.boton :hover {
        -webkit-box-shadow: 0px 16px 16px -11px #000000; 
        box-shadow: 0px 16px 16px -11px #000000;
        transition-duration: .3s;
        opacity: .9;
    }
    section.presentacion div.boton input.p {
        height: 4rem;
        
    }
    section.presentacion {
        display: flex;
        height: 330px;
        width: 100vw;
        
        
    }
    .contenedor-nosotros {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 550px;
        
    }
    .contenedor-nosotros img {
        height: 500px;
        width: 95%;
        
    }
    .contenedor-nosotros div {
        display: flex;
        align-self: center;
        justify-content: center;

        }
    section.nosotros{
        display: flex;
        align-self: center;
        justify-content: center;
    }
    footer {
        padding: 1rem 3rem;
        font-weight: bold;
        padding-left: 10rem;
        line-height: 2;
    }
    
    
    }
    

