* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
body {
    min-width: 310px;
    width: 100%;
}
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
div.logo {
    background-color: #224f70;;
    
}
header img {
    width: 80%;
    min-width: 250px;
    max-width: 360px;
    margin: 1.5rem auto;
    border-radius: 3rem;
    padding: 2.5rem;
    
}
nav {
    margin: 0;
}

nav ul{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
      
}

nav ul a {
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: #043b7b;
    
}
nav li 
{
    width: 20rem;
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;    
    
    
}
section.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    background-image: url(../img/fondo2.jpg);
    background-position: center;
    background-size: cover;
    
    
}
section h1 {
    margin: 0 1rem;
    color: #043b7b;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 2; }
}

section.presentacion div.boton {
    width: 20%;
    min-width: 250px;
    margin: 2rem auto;
    border-radius: 1rem;
    background-color: white;
    animation: fadein 2s;
                     
}

section.presentacion div.boton a  {
    display: flex;    
    text-decoration: none;    
    justify-content: center;
    
}

section.presentacion div.boton input.p {
    border: none;
    font-size: 1.6rem;
    color: #043b7b;
    font-weight: bold;
    background-color: white;    
    height: 5rem;
}
section.presentacion div.boton img {
    width: 3rem;
    margin-left: 1rem;
    
}

section.nosotros {
    width: 90%;
    margin: 0 auto;
}
section.nosotros article {
    margin: 2rem;
    font-size: 1.8rem;
    -webkit-box-shadow: 0px 16px 16px -11px #000000; 
    box-shadow: 0px 16px 16px -13px #000000;
    padding: 2rem;
    color: #043b7b;
}


/* slide -------------------------------------- */

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
    margin-top: 2rem;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 30%;
	width: 100%;
	
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
    
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: rgb(86, 129, 250);
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(86, 129, 250) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(86, 129, 250);
opacity: .7;}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(86, 129, 250);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(86, 129, 250);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(86, 129, 250);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(86, 129, 250);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */



.CSSgal{
	color: #fff;	
	text-align: center;
    height: 550px;
    width: 100%;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}
.slider div img {
    height: 500px;
}


footer {
    background-color: #224f70;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 20rem;
    padding: 2rem;
    font-size: 2.5rem;
    min-width: 350px;
    
    
}
footer section.left 
{
    display: flex;
    flex-direction: column;
    margin-right: 1rem ;
    
}
footer section.left a  {
    color: #75a7e0;
    text-decoration: none;
}
footer p {
    font-weight: bold;
    font-size: 2rem;
    color: #75a7e0;
}
section.right {
    display: flex;
    flex-direction: column;
    width: 100%;
}
section.right a {
    color: #75a7e0;
    text-decoration: none;
    
}
@media (min-width:610px) /*-------------------- tablet----------*/
 {
    header {
        display: flex;
        flex-direction: row;
    }
    header img {
        width: 100%;
     }
    section.presentacion {
        width: 100%;
        height: 300px;
        margin-top: 1rem;
    }
    nav ul{
        
        display: flex;
        flex-direction: column;
               
    }
    nav{        
        width: 50%;
    }
    nav ul a {
        width: 100%;
        padding: 0;
        line-height: 1.6;
        
                
    }
    section.left {
        margin-left: 1rem;
        
    }
    section.right a, .right p, .left a, .left p {
        font-size: 2.3rem;
    }
}
@media (min-width:800px)/*-------------------- desktop----------*/ {
  
    header {
        height: 120px
    }
    div.logo {
        background: none;
    }
    header img {
        padding: 0;
        border-radius: 0;
        margin: 1rem 1rem;
    }
    
    nav {
        display: flex;
        align-items: center;
        width: 80%;
        
    }
    nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    nav li {
        width: 100%;
        background-color: white;
    }
    nav ul li a {
        color: #043b7b;
        margin-right: 1rem;
        
    }
    nav ul li a:hover {
        transition-duration: .3s;
        width: 130px;
        -webkit-box-shadow: 0px 16px 16px -11px #000000; 
        box-shadow: 0px 8px 8px -9px #000000;
        
    }
  
    section.presentacion div.boton:hover {
        -webkit-box-shadow: 0px 16px 16px -11px #000000; 
        box-shadow: 0px 16px 16px -11px #000000;
        transition-duration: .3s;
        opacity: .9;
    }
    section.presentacion div.boton input.p {
        height: 4rem;
        
    }
    section.presentacion {
        display: flex;
        margin: 0;
        
    }
    .contenedor-slideshow {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    footer {
        padding: 1rem 3rem;
        font-weight: bold;
        padding-left: 10rem;
        line-height: 2;
    }
    
    

    }
    

